@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'typeface-inter';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply mt-6 flex flex-row items-center gap-1 rounded-lg bg-button-primary-bg px-3.5 py-2.5 font-semibold text-white hover:bg-button-primary-hover;
}
